---
// Imports
import fetchApi from "../../lib/strapi";
import type { Ensaio } from "../../interfaces/ensaio";

import Layout from "../../layouts/Layout.astro";

// Gerador de rotas estáticas
export async function getStaticPaths() {
  const ensaios = await fetchApi<Ensaio[]>({
    endpoint: "ensaios",
    query: { "populate[Fotos][populate]": "Foto" },
    wrappedByKey: "data",
  });

  return ensaios.map((ensaio) => ({
    params: { slug: ensaio.link_da_pagina },
    props: { ensaio },
  }));
}

// Props recebidas da rota estática
const { ensaio } = Astro.props;
---

<Layout title_sufixo=`${ensaio.Titulo}`>
  <h1 class="text-3xl font-primary text-preto mb-4 mt-25 text-center px-8">
    {ensaio.Titulo}
  </h1>
  <p class="text-lg font-secondary text-preto mb-4 text-center px-8">
    {ensaio.Descricao}
  </p>

  <!-- GALERIA -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 items-start justify-self-center gap-10 sm:gap-5 px-8 py-8"
  >
    {
      [0, 1, 2].map((colIndex) => (
        <div class="grid gap-10 sm:gap-5 max-w-[400px] justify-self-center">
          {ensaio.Fotos.filter((_, index) => index % 3 === colIndex).map(
            (foto) => (
              <div class="shadow-xl/20 transition-transform duration-300 hover:scale-105">
                <img
                  src={`${import.meta.env.STRAPI_URL}${foto.Foto.url}`}
                  alt={foto.Foto.alternativeText || "Imagem"}
                  class="h-auto w-full max-w-full object-cover"
                />
              </div>
            )
          )}
        </div>
      ))
    }
  </div>
</Layout>
