---
import Layout from "../../layouts/Layout.astro";
import type { Ensaio, FotoComponent } from "../../interfaces/ensaio";

import fetchApi from "../../lib/strapi";

const ensaios: Ensaio[] = await fetchApi<Ensaio[]>({
  endpoint: "ensaios",
  query: {
    "populate[Fotos][populate]": "Foto",
  },
  wrappedByKey: "data",
});
---

<Layout>
  <h1 class="text-2xl font-bold mb-6">Ensaios PAGE</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      ensaios.map((ensaio) => (
        <div class="bg-white p-4 rounded shadow-md">
          <h3 class="text-xl font-semibold mb-3 text-center">
            {ensaio.Titulo}
          </h3>

          <a href={`/ensaios/${ensaio.link_da_pagina}`} class="text-blue-500 hover:underline">{ensaio.Titulo}</a>

          <div class="flex flex-col gap-2 items-center">
            {ensaio.Fotos.map((fotoComponent: FotoComponent) => (
              <div class="flex flex-col items-center">
                <span class="text-sm mt-1 text-gray-600">
                  {fotoComponent.Titulo_da_foto}
                </span>
                <span class="text-sm mt-1 text-gray-600">
                  {fotoComponent.Informacoes_complementares}
                </span>
                <img
                  src={`http://localhost:1337${fotoComponent.Foto.url}`}
                  alt={fotoComponent.Titulo_da_foto}
                  class="rounded shadow max-w-full max-h-48 object-cover"
                />
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Layout>
